<a href="https://colab.research.google.com/github/Nawin03-DS/Python-Notes/blob/main/Bank_Customer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
# Attempt to mount the drive again.
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!apt-get install sqlite3
!pip install pandas

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 35 not upgraded.
Need to get 769 kB of archives.
After this operation, 1,873 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.4 [769 kB]
Fetched 769 kB in 1s (562 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 126111 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.4_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.4) ...
Setting up sqlite3 (3.37.2-2ubuntu0.4) ...
Processing triggers for man-db (2.10.2-1) ...
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
conn = sqlite3.connect("my_database.db")

In [ ]:
# Define the correct path for the database
db_path = "/content/drive/MyDrive/my_database.db"

In [ ]:
db_folder = "/content/drive/MyDrive/SQLiteDB"
os.makedirs(db_folder, exist_ok=True)  # Ensure the folder exists
db_path = os.path.join(db_folder, "my_database.db")

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

print("Database connected at:", db_path)

Database connected at: /content/drive/MyDrive/SQLiteDB/my_database.db

In [ ]:
cursor.execute('''
CREATE TABLE BANK_CUSTOMERR ( customer_id INT ,
             	customer_name VARCHAR(20),
             	Address 	VARCHAR(20),
             	state_code  VARCHAR(3) ,
             	Telephone   VARCHAR(10)	);

''')
conn.commit()

In [ ]:
def insert_BANK_CUSTOMERR (customer_id,customer_name,Address,state_code,Telephone):
    # Changed the table name from BANK_CUSTOMER to BANK_CUSTOMERR
    cursor.execute("INSERT INTO BANK_CUSTOMERR (customer_id,customer_name,Address,state_code,Telephone) VALUES (?,?, ?, ?,?)", (customer_id,customer_name,Address,state_code,Telephone))
    conn.commit()

# Insertion
insert_BANK_CUSTOMERR(123001,"Oliver", "225-5,Emeryville", "CA" , "1897614500")
insert_BANK_CUSTOMERR(123002,"George", "194-6,New brighton","MN" , "1897617000")
#insert_BANK_CUSTOMER(123003,"Harry", "2909-5,walnut creek","CA" , "1897617866")
#$insert_BANK_CUSTOMER(123004,"Jack", "229-5, Concord",  	"CA" , "1897627999")
#insert_BANK_CUSTOMER(123005,"Jacob", "325-7, Mission Dist","SFO", "1897637000")
#nsert_BANK_CUSTOMER(123006,"Noah", "275-9, saint-paul" ,  "MN" , "1897613200")
#insert_BANK_CUSTOMER(123007,"Charlie","125-1,Richfield",   "MN" , "1897617666")
insert_BANK_CUSTOMERR(123008,"Robin","3005-1,Heathrow", 	"NY" , "1897614000")

In [ ]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.11/dist-packages (0.9.0)

In [ ]:
from tabulate import tabulate
import sqlite3 # Ensure sqlite3 is imported if not already

# Assuming conn and cursor are already established

# Fetch data
cursor.execute("SELECT * FROM BANK_CUSTOMERR ") # Corrected table name
rows = cursor.fetchall()

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Print in tabular format
print(tabulate(rows, headers=column_names, tablefmt="grid"))

+---------------+-----------------+--------------------+--------------+-------------+
|   customer_id | customer_name   | Address            | state_code   |   Telephone |
+===============+=================+====================+==============+=============+
|        123001 | Oliver          | 225-5,Emeryville   | CA           |  1897614500 |
+---------------+-----------------+--------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton | MN           |  1897617000 |
+---------------+-----------------+--------------------+--------------+-------------+
|        123008 | Robin           | 3005-1,Heathrow    | NY           |  1897614000 |
+---------------+-----------------+--------------------+--------------+-------------+

1.Print customer Id, customer name and average account_balance maintained by each customer for all of his/her accounts in the bank.(8 Rows)